import os

from django.utils.translation import gettext_lazy as _

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/3.0/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'uilbg9^$cs3427dhrppmgibuiof6yc-2_y#6sg^!mzmioo6=-l'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['*']

# for production
#ALLOWED_HOSTS = ['url.garrlab.it']
#FQDN = 'https://url.garrlab.it'

# Application definition

INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',

    'django_form_builder',
    'sass_processor',
    'bootstrap_italia_template',
    'django_unical_bootstrap_italia',
    
    'urlshortener',
    'garrlab_template',
    'rest_framework',
    'rest_framework.authtoken'
]

if 'rest_framework' in INSTALLED_APPS:
    REST_FRAMEWORK = {
        'DEFAULT_PERMISSION_CLASSES': [
            'rest_framework.permissions.IsAuthenticated',
        ]
    }

# Database
# https://docs.djangoproject.com/en/3.0/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': os.environ.get('SQL_ENGINE', 'django.db.backends.sqlite3'),
        'NAME': os.environ.get('SQL_DATABASE', 'db.sqlite3'),
        'HOST': os.environ.get('SQL_HOST','localhost'),
        'USER': os.environ.get('SQL_USER','root'),
        'PASSWORD': os.environ.get('SQL_PASSWORD','mypass'),
        'PORT': os.environ.get('SQL_PORT','3306'),
    }
}

MIDDLEWARE = [
    'django.middleware.security.SecurityMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
]

# Change these in production use
CAPTCHA_SECRET = b'your_secret'
CAPTCHA_SALT = b'your_salt'
CAPTCHA_LENGTH = 6

# ms
CAPTCHA_EXPIRATION_TIME = 30000

# put it to 0 to disable deletion
TINYURL_DURATION_DAYS = 0

# If True a landing page will be presented before redirecting to the original url
TINYURL_REDIRECT_LANDINGPAGE = True

TINYURL_TEMPLATE = 'urlshortener-bootstrap-italia.html'
# TINYURL_TEMPLATE = 'urlshortner.html'

# change this to have a different webpath to admin backend
ADMIN_PATH = 'gestione'

STATIC_ROOT = os.path.join(BASE_DIR, 'static')

LANGUAGE_CODE = 'it-it'
TIME_ZONE = 'UTC'

LANGUAGES = [
  ('it', _('Italian')),
  ('en', _('English')),
]
