{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
<script>
    function BookmarkMe() {
        // Mozilla Firefox Bookmark
        if ('sidebar' in window && 'addPanel' in window.sidebar) { 
            window.sidebar.addPanel(location.href,document.title,"");
        } else if( /*@cc_on!@*/false) { // IE Favorite
            window.external.AddFavorite(location.href,document.title); 
        } else { // webkit - safari/chrome
            alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
        }
    };
</script>
{% endblock extra_head %}

{% block menu_top %}
{% endblock menu_top %}

{% block logo %}
{% endblock logo %}

{% block logo_navbar %}
{% endblock logo_navbar %}

{% block page_body %}
        <div class="jumbotron">
          
          <h3 class="display-10">
              <input type="text" style="border:none; background: none;" class="w-100"
              value="{{ tinyurl }}" id="shortened_url">
          </h3>
          <p class="">
              {% trans 'È un URL abbreviato, cliccando su "Continua" verrai reindirizzato sul seguente sito ' %}
          </p>

          <p>
            <a href="{{ urlsh.original_url }}" target='_tinyurl'>
                {{ urlsh.original_url }}
            </a>
          </p>
          
          <hr class="my-4">

          <div class="row justify-content-start">
            <div class="col col-md-2 mt-2">
              <button class="btn btn-primary px-4" onclick="window.location='{{ urlsh.original_url }}'">
                {% trans "Continua" %}
              </button>
            </div>
            <div class="col col-md-3 mt-2">
              <button class="btn btn-primary px-4"  rel="sidebar" onclick="javascript:BookmarkMe();">
                {% trans "Aggiungi ai Preferiti" %}
              </button>
            </div>
            <div class="col col-md-3 mt-2">
              <button class="btn btn-secondary px-4" onclick="window.location='/'">
                {% trans "Torna alla Home" %}
              </button>
            </div>
          </div>
          
        </div>


    {% block footer %}
    {% endblock %}
    
{% endblock page_body %}
