{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_head %}
<script >
    function copyToClipboard() {
      var copyText = document.getElementById("shortened_url");
    
      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /*For mobile devices*/
    
      /* Copy the text inside the text field */
      document.execCommand("copy");
    
      console.log("Copied the text: " + copyText.value);
      /* make message visible*/
      var tooltip = document.getElementById("myTooltip");
      tooltip.innerHTML = "<b>" + copyText.value + "</b> Copied to Clipboard.";
      tooltip.style.visibility = 'visible';
    }

</script>
{% endblock extra_head %}

{% block page_body %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger" role="alert">
          {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% if urlsh %}
        <div class="jumbotron">
          <h3 class="display-5">
              <input type="text" style="border:none; background: none;" class="w-100"
              value="{{ request.build_absolute_uri }}{{ urlsh.shorten_url }}" id="shortened_url">
          </h3>
          <p class="lead text-secondary">
              {% trans 'This is your shortened URL.' %}
              {% trans 'It will be available for ' %}
                <span style="font-width: 400;">{{ delta_days }}</span>
              {% trans 'days from now.' %}
          </p>
          <hr class="my-4">

          <p id="myTooltip"></p>
          
          <div>
              <button class="btn btn-primary btn-lg" onclick="copyToClipboard()">
                  {% trans "Copy your Shortened URL" %}
              </button>
          </div>
        </div>
    {% else %}
        <p>
            {% trans 'Questo servizio ti consente di conservare per un periodo massimo di giorni ' %}
                {{ delta_days }}
            {% trans 'un url in formato "ristretto".' %}
        </p>
        <p>
            {% trans 'Sarà più facile da condividere con amici e colleghi.' %}
        </p>
        <form method='POST'>
            {% csrf_token %}
            {{ form.url }}
    
            <br>
            <button class="btn-primary p-2" type='submit'>{% trans 'Get a Shorten URL' %}</button>
        </form>
    {% endif %}
    
{% endblock page_body %}


